{:name "full single game to win"
 :given {:deck [{:rank :ace :suit :clubs}
                {:rank :two :suit :clubs}
                {:rank :three :suit :clubs}
                {:rank :four :suit :clubs}
                {:rank :five :suit :clubs}
                {:rank :six :suit :clubs}
                {:rank :seven :suit :clubs}
                {:rank :eight :suit :clubs}
                {:rank :nine :suit :clubs}
                {:rank :ten :suit :clubs}
                {:rank :jack :suit :clubs}
                {:rank :queen :suit :clubs}
                {:rank :king :suit :clubs}
                {:rank :ace :suit :diamonds}
                {:rank :two :suit :diamonds}
                {:rank :three :suit :diamonds}
                {:rank :four :suit :diamonds}
                {:rank :five :suit :diamonds}
                {:rank :six :suit :diamonds}
                {:rank :seven :suit :diamonds}
                {:rank :eight :suit :diamonds}
                {:rank :nine :suit :diamonds}
                {:rank :ten :suit :diamonds}
                {:rank :jack :suit :diamonds}
                {:rank :queen :suit :diamonds}
                {:rank :king :suit :diamonds}
                {:rank :ace :suit :hearts}
                {:rank :two :suit :hearts}
                {:rank :three :suit :hearts}
                {:rank :four :suit :hearts}
                {:rank :five :suit :hearts}
                {:rank :six :suit :hearts}
                {:rank :seven :suit :hearts}
                {:rank :eight :suit :hearts}
                {:rank :nine :suit :hearts}
                {:rank :ten :suit :hearts}
                {:rank :jack :suit :hearts}
                {:rank :queen :suit :hearts}
                {:rank :king :suit :hearts}
                {:rank :ace :suit :spades}
                {:rank :two :suit :spades}
                {:rank :three :suit :spades}
                {:rank :four :suit :spades}
                {:rank :five :suit :spades}
                {:rank :six :suit :spades}
                {:rank :seven :suit :spades}
                {:rank :eight :suit :spades}
                {:rank :nine :suit :spades}
                {:rank :ten :suit :spades}
                {:rank :jack :suit :spades}
                {:rank :queen :suit :spades}
                {:rank :king :suit :spades}]
         :state {:players [{:hand [{:rank :eight :suit :diamonds}
                                    {:rank :queen :suit :hearts}]}
                           {:hand [{:rank :ace :suit :diamonds}
                                    {:rank :two :suit :hearts}]}
                           {:hand [{:rank :queen :suit :spades}]}
                           {:hand [{:rank :queen :suit :diamonds}]}]
                 :draw-pile [{:rank :six :suit :diamonds}
                             {:rank :seven :suit :diamonds}]
                 :discard-pile [{:rank :five :suit :hearts}
                                {:rank :five :suit :clubs}
                                {:rank :seven :suit :clubs}]
                 :active-suit :clubs
                 :current-player 0
                 :status :in-progress
                 :winner nil
                 :passes-in-row 0}}
 :steps [{:command {:type :play-card
                    :player 0
                    :card {:rank :eight :suit :diamonds}
                    :declared-suit :spades}
          :then {:events [{:type :card-played
                           :player 0
                           :card {:rank :eight :suit :diamonds}}
                          {:type :suit-declared
                           :suit :spades}
                          {:type :turn-advanced
                           :player 1}]}}
         {:command {:type :draw-card
                    :player 1}
          :then {:events [{:type :card-drawn
                           :player 1
                           :card {:rank :six :suit :diamonds}}]}}
         {:command {:type :draw-card
                    :player 1}
          :then {:events [{:type :card-drawn
                           :player 1
                           :card {:rank :seven :suit :diamonds}}]}}
         {:command {:type :reshuffle-draw-pile
                    :cards [{:rank :five :suit :hearts}
                            {:rank :five :suit :clubs}
                            {:rank :seven :suit :clubs}]}
          :then {:events [{:type :draw-pile-reshuffled
                           :cards [{:rank :five :suit :hearts}
                                   {:rank :five :suit :clubs}
                                   {:rank :seven :suit :clubs}]
                           :top-card {:rank :eight :suit :diamonds}}]}}
         {:command {:type :draw-card
                    :player 1}
          :then {:events [{:type :card-drawn
                           :player 1
                           :card {:rank :five :suit :hearts}}]}}
         {:command {:type :draw-card
                    :player 1}
          :then {:events [{:type :card-drawn
                           :player 1
                           :card {:rank :five :suit :clubs}}]}}
         {:command {:type :draw-card
                    :player 1}
          :then {:events [{:type :card-drawn
                           :player 1
                           :card {:rank :seven :suit :clubs}}]}}
         {:command {:type :pass-turn
                    :player 1}
          :then {:events [{:type :turn-passed
                           :player 2}]}}
         {:command {:type :play-card
                    :player 2
                    :card {:rank :queen :suit :spades}}
          :then {:events [{:type :card-played
                           :player 2
                           :card {:rank :queen :suit :spades}}
                          {:type :game-won
                           :player 2}]}}]
  :then {:state-matches {:status :finished
                        :winner 2}}}
