{:name "reshuffles draw pile"
 :given {:state {:players [{:hand [{:rank :ace :suit :clubs}]}
                           {:hand [{:rank :king :suit :spades}]}]
                 :draw-pile []
                 :discard-pile [{:rank :queen :suit :hearts}
                                {:rank :ace :suit :diamonds}
                                {:rank :two :suit :spades}]
                 :active-suit :hearts
                 :current-player 0
                 :status :in-progress
                 :winner nil
                 :passes-in-row 0}}
 :steps [{:command {:type :reshuffle-draw-pile
                    :cards [{:rank :queen :suit :hearts}
                            {:rank :ace :suit :diamonds}]}
          :then {:events [{:type :draw-pile-reshuffled
                           :cards [{:rank :queen :suit :hearts}
                                   {:rank :ace :suit :diamonds}]
                           :top-card {:rank :two :suit :spades}}]}}]
 :then {:state-matches {:draw-pile [{:rank :queen :suit :hearts}
                                    {:rank :ace :suit :diamonds}]
                        :discard-pile [{:rank :two :suit :spades}]}}}
