{:paths ["src" "resources"]
 :mvn/repos {"artifactory.swisscom.com" {:url "https://repo.maven.apache.org/maven2/"}
             "artifactory-oce" {:url "https://repo.clojars.org/"}}
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/test.check {:mvn/version "1.1.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}
  :sim-log {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts ["-m" "crazy_eights.domain.simulation-runner"]}
  :app-sim-log {:extra-paths ["test"]
                :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                :main-opts ["-m" "crazy_eights.app.simulation-runner"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.08.29"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}}}
